<div id="content" class="container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
  <main class="landing d-flex flex-column align-items-center px-3 m-5">
    <h1> Access to our images information </h1>
    <p class="lead mx-5">You can click the link below to see all the images or type in the search bar to find images that matches your search</p>
    <p class="lead">
      <a routerLink="images" class="btn btn-lg btn-secondary fw-bold border-white">See all the images</a>
    </p>
  </main>
</div>
