/* You can add global styles to this file, and also import other style files */
@import "node_modules/@ng-select/ng-select/themes/default.theme.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  height: 100%;
}

.ng-select-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.ng-value-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ng-select .ng-select-container .ng-value-container .ng-placeholder {
  color: #212529;
}
