<div class="container my-5 p-0">
  <form (ngSubmit)="submitForm()" [formGroup]="divisionForm" *ngIf="action === 'Create'">
    <h2 class="mb-4"> Create a new Division </h2>
    <div class="form-floating mb-3 p-0" [ngClass]="{'has-validation': divisionForm.get('scientificName')?.errors}">
      <input class="form-control" type="text" formControlName="scientificName" placeholder="Scientific Name" [class.invalid-input]="divisionForm.get('scientificName')?.touched && divisionForm.get('scientificName')?.invalid" />
      <label [class.invalid-label]="divisionForm.get('scientificName')?.touched && divisionForm.get('scientificName')?.invalid">Scientific name</label>
      <div *ngIf="divisionForm.get('scientificName')?.touched && divisionForm.get('scientificName')?.invalid" class="invalid-feedback d-block">
        <div *ngIf="divisionForm.get('scientificName')?.errors?.['required']">Scientific name is required.</div>
        <div *ngIf="divisionForm.get('scientificName')?.errors?.['invalid']">Scientific name must start with an uppercase letter and end with phyta.</div>
      </div>
    </div>
    <div class="form-floating mb-3 p-0" [ngClass]="{'has-validation': divisionForm.get('author')?.errors}">
      <input class="form-control" type="text" formControlName="author" placeholder="Author" [class.invalid-input]="divisionForm.get('author')?.touched && divisionForm.get('author')?.invalid"/>
      <label [class.invalid-label]="divisionForm.get('author')?.touched && divisionForm.get('author')?.invalid"> Author </label>
      <div *ngIf="divisionForm.get('author')?.touched && divisionForm.get('author')?.invalid" class="invalid-feedback d-block">
        <div *ngIf="divisionForm.get('author')?.errors?.['required']">Scientific name is required.</div>
      </div>
    </div>
    <div class="form-floating mb-3 p-0" [ngClass]="{'has-validation': divisionForm.get('publicationYear')?.errors}">
      <input class="form-control" type="number" formControlName="publicationYear" placeholder="Publication Year" [class.invalid-input]="divisionForm.get('publicationYear')?.touched && divisionForm.get('publicationYear')?.invalid"/>
      <label [class.invalid-label]="divisionForm.get('publicationYear')?.touched && divisionForm.get('publicationYear')?.invalid"> Publication Year </label>
      <div *ngIf="divisionForm.get('publicationYear')?.touched && divisionForm.get('publicationYear')?.invalid" class="invalid-feedback d-block">
        <div *ngIf="divisionForm.get('publicationYear')?.errors?.['required']">Scientific name is required.</div>
      </div>
    </div>
    <div class="dropdown mb-4 mt-4" *ngIf="kingdoms.length; else elseBlock">
      <button class="form-control dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
        {{ divisionForm.get('ancestorId')?.value ? divisionForm.get('ancestorIdName')?.value : 'Select the ancestor id' }}
      </button>
      <ul class="dropdown-menu form-control" aria-labelledby="dropdownMenuButton1">
        <li *ngFor="let kingdom of kingdoms"><a class="dropdown-item" (click)="selectAncestor(kingdom.id, kingdom.scientificName)"> {{ kingdom.id }} - {{ kingdom.scientificName }} </a></li>
      </ul>
    </div>

    <ng-template #elseBlock> <h4 class="mb-5"> No Kingdoms registered in our database, please go <a routerLink="/edit/taxon/kingdom">here</a> to create a kingdom and select it as ancestor </h4> </ng-template>

    <div class="d-grid mt-5">
      <button class="btn btn-primary btn-lg" type="submit" [disabled]="divisionForm.invalid">Submit</button>
    </div>
  </form>

  <form (ngSubmit)="submitForm()" [formGroup]="divisionForm" *ngIf="action === 'Update'">
    <h2> Update a Division </h2>
    <div class="dropdown mb-4 mt-4" *ngIf="divisions.length; else elseBlock">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        {{ selectedItem ? selectedItem : 'Select division' }}
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li *ngFor="let division of divisions"><a class="dropdown-item" (click)="selectTaxon(division.id, division.scientificName, division.author, division.publication_year, division.taxon_ancestor_id)"> {{ division.scientificName }} </a></li>
      </ul>
    </div>
    <ng-template #elseBlock> <h3 class="mb-5"> No divisions registered in our database </h3> </ng-template>

    <div class="form-floating mb-3 p-0" [ngClass]="{'has-validation': divisionForm.get('scientificName')?.errors}">
      <input class="form-control" type="text" formControlName="scientificName" placeholder="Scientific Name" [class.invalid-input]="divisionForm.get('scientificName')?.touched && divisionForm.get('scientificName')?.invalid" />
      <label [class.invalid-label]="divisionForm.get('scientificName')?.touched && divisionForm.get('scientificName')?.invalid">Scientific name</label>
      <div *ngIf="divisionForm.get('scientificName')?.touched && divisionForm.get('scientificName')?.invalid" class="invalid-feedback d-block">
        <div *ngIf="divisionForm.get('scientificName')?.errors?.['required']">Scientific name is required.</div>
        <div *ngIf="divisionForm.get('scientificName')?.errors?.['invalid']">Scientific name must start with an uppercase letter and end with phyta.</div>
      </div>
    </div>
    <div class="form-floating mb-3 p-0" [ngClass]="{'has-validation': divisionForm.get('author')?.errors}">
      <input class="form-control" type="text" formControlName="author" placeholder="Author" [class.invalid-input]="divisionForm.get('author')?.touched && divisionForm.get('author')?.invalid"/>
      <label [class.invalid-label]="divisionForm.get('author')?.touched && divisionForm.get('author')?.invalid"> Author </label>
      <div *ngIf="divisionForm.get('author')?.touched && divisionForm.get('author')?.invalid" class="invalid-feedback d-block">
        <div *ngIf="divisionForm.get('author')?.errors?.['required']">Scientific name is required.</div>
      </div>
    </div>
    <div class="form-floating mb-3 p-0" [ngClass]="{'has-validation': divisionForm.get('publicationYear')?.errors}">
      <input class="form-control" type="number" formControlName="publicationYear" placeholder="Publication Year" [class.invalid-input]="divisionForm.get('publicationYear')?.touched && divisionForm.get('publicationYear')?.invalid"/>
      <label [class.invalid-label]="divisionForm.get('publicationYear')?.touched && divisionForm.get('publicationYear')?.invalid"> Publication Year </label>
      <div *ngIf="divisionForm.get('publicationYear')?.touched && divisionForm.get('publicationYear')?.invalid" class="invalid-feedback d-block">
        <div *ngIf="divisionForm.get('publicationYear')?.errors?.['required']">Scientific name is required.</div>
      </div>
    </div>

    <div class="dropdown mb-4 mt-4" *ngIf="kingdoms.length; else elseBlock">
      <button class="form-control dropdown-toggle" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false" [disabled]="isDisabled">
        {{ divisionForm.get('ancestorId')?.value ? divisionForm.get('ancestorIdName')?.value : 'Select the ancestor id' }}
      </button>
      <ul class="dropdown-menu form-control" aria-labelledby="dropdownMenuButton1">
        <li *ngFor="let kingdom of kingdoms"><a class="dropdown-item" (click)="selectAncestor(kingdom.id, kingdom.scientificName)"> {{ kingdom.id }} - {{ kingdom.scientificName }} </a></li>
      </ul>
    </div>

    <div class="d-grid mt-5">
      <button class="btn btn-primary btn-lg" type="submit" [disabled]="divisionForm.invalid">Submit</button>
    </div>
  </form>

  <form *ngIf="action === 'Delete'">
    <h2 class="mb-4"> Delete a division </h2>

    <ul id="delete-content" class="list-group" *ngIf="divisions.length; else elseBlock">
      <li class="list-group-item d-flex justify-content-between mb-2" *ngFor="let item of paginatedItems">
        <div class="d-flex flex-column">
          <div class="mb-3">
            <span class="fw-bold"> {{ item.scientificName }} </span>
          </div>
          <div class="small-fs">
            <span class="me-3"> {{ item.author }} </span>
            <span> {{ item.publication_year }} </span>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <button class="btn btn-border" (click)="deleteTaxon( item.scientificName )"> <i class="bi bi-x-circle text-danger"></i> </button>
        </div>
      </li>
    </ul>

    <ng-template #elseBlock> <h3 class="mb-5"> No divisions registered in our database </h3> </ng-template>

    <nav aria-label="Page navigation" class="d-flex justify-content-center" *ngIf="divisions.length > 5">
      <ul class="pagination">
        <li class="page-item" [ngClass]="{'disabled': currentPage === 1}">
          <button class="page-link" (click)="changePage(currentPage - 1)">&laquo;</button>
        </li>
        <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index" [ngClass]="{'active': currentPage === i + 1}">
          <button class="page-link" (click)="changePage(i + 1)">{{ i + 1 }}</button>
        </li>
        <li class="page-item" [ngClass]="{'disabled': currentPage === totalPages}">
          <button class="page-link" (click)="changePage(currentPage + 1)">&raquo;</button>
        </li>
      </ul>
    </nav>
  </form>
</div>
